.display-main{
    text-align: center;
    margin-left: 15%;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #f8cbcb;
  }

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.aboutHeader {
  /* background-color: #bc5a45; */
  height:7%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.aboutHeader h2 {
  color: #bc5a45;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  font-style: italic;
  font-size: 40px;
  font-weight: 5000;
  padding-bottom: 10px;
}

.display-header {
  background-color:#f8cbcb;
  min-height: 9vh;
  display: flex;
  
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: 'Courier New', Courier, monospace;
  color:  #bc5a45;
  font-style: italic;
  font-weight: bold;
  
}


.display-content-background{
  background-color: #f8cbcb;
  display: flex;
  min-height: 110vh;
  align-items: center;
  justify-content: center;
}

.submit-comment{
    left: 5%;
}

.submit-comment-button{
  color:whitesmoke;
  font-size: 25px;
  border: white;
  border-width: 50px;
}

.display-content{
  background-color: #f8cbcb;
  min-height: 110vh;
  font-size: calc(10px + 2vmin);
  color:  #ffffff;
}

.recipeInfo {
  font-style: italic;
}

.recipeGrid {
  align-items: center;
  justify-content: center;
}
.image{
  width:550px;
  height:550px;
}