.Profile {
    text-align: center;
    margin-left: 15%;
  }

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Profile-header {
  background-color:#ffffff ;
  min-height: 9vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: 'Courier New', Courier, monospace;
  color:  #bc5a45;
  
}
.headerPage {
  font-family: 'Courier New', Courier, monospace;
  font-style: italic;
  font-weight: bold;
  color: #bc5a45;
  font-size: 45px;
}
.headerProfilePage {
  font-family: 'Courier New', Courier, monospace;
  font-style: italic;
  font-weight: bold;
  color: #bc5a45;
  font-size: 30px;
  padding-top: 5%;
  padding-bottom: 5%;
}

.Profile-divider{
  
  width: 3px;
  background-color: #bc5a45;
}

.Profile-content-background{
  background-color: #ffffff;
  min-height: 100vh;
 
}
.Profile-content{
  background-color: #ffffff;
  min-height: 100vh;
  padding-left: 5%;
  padding-right: 5%;
  font-size: calc(10px + 2vmin);
  color:  #f18973;
}

.Profile-link {
  color: #61dafb;
}